.images_style{
    display: inline-block;
    justify-content: space-between;
    background-color: rgb(247, 252, 246);
    padding: 15px;
    box-shadow: 0 25px 20px -12px rgba(187, 160, 252, 0.5);
    border-radius: 15px;
    max-width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;

    
}

.colorText{
    color: white;
}

.font{
    font-size: 20px ;
    color: black;
}

.boton{
    background-color: #4e47b4;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    padding: 5px;
    border: none;
}